<app-sidebar class="sidebar"></app-sidebar>
<div class="main-screen">
    <h1>Technologies</h1>
    <a [routerLink]="['/dashboard']"> Revenir à l'accueil</a>    
    <div class="container">
        <div class="">
            <img class="img-techno" [src]="'assets/Angular.png'" alt="...">
            <img class="img-techno" [src]="'assets/Cobol.png'" alt="...">
            <img class="img-techno" [src]="'assets/CSS.png'" alt="...">
            <img class="img-techno" [src]="'assets/html.png'" alt="...">
            <img class="img-techno" [src]="'assets/javascript.png'" alt="...">
            <img class="img-techno" [src]="'assets/mySQL.png'" alt="...">
            <img class="img-techno" [src]="'assets/PHP.png'" alt="...">
            <img class="img-techno" [src]="'assets/Symfony.png'" alt="...">
            <img class="img-techno" [src]="'assets/WordPress.png'" alt="...">
        </div>
        <div class="langues">
            <h2> Langues </h2>
            <div class="langue">
                <h3 class="nom-langue"> Anglais</h3>
                <h4 class="niveau">B2</h4>
            </div>
            <div class="langue">
                <h3 class="nom-langue">Langue des signes</h3>
                <h4 class="niveau">A1</h4>
            </div>
        </div>
    </div>
    
</div>