<div class="container">
    <app-sidebar class="sidebar"></app-sidebar>
    <div class="main-screen">
        <h1>Technologies</h1>
        <a class="button" [routerLink]="['/dashboard']"> <fa-icon class="fa-xl" [icon]="faHome"></fa-icon> <span id="return-text">Revenir à l'accueil </span> </a>
        <div class="container">

            <div class="cards-list">
                <div class="card">
                    <div class="card_image"> <img [src]="'assets/html.png'" alt="..." /> 
                    </div>
                    <h2>Html 5</h2>
                </div>
                <div class="card">
                    <div class="card_image"> <img [src]="'assets/CSS.png'" alt="..." /> 
                    </div>
                    <h2>CSS 3</h2>
                </div>
                <div class="card">
                    <div class="card_image"> <img [src]="'assets/javascript.png'" alt="..." /> 
                    </div>
                    <h2>Javascript</h2>
                </div>
                <div class="card">
                    <div class="card_image"> <img [src]="'assets/Angular.png'" alt="..." /> 
                    </div>
                    <h2>Angular</h2>
                </div>
                <div class="card">
                    <div class="card_image"> <img [src]="'assets/mySQL.png'" alt="..." /> 
                    </div>
                    <h2>MySql</h2>
                </div>
                <div class="card">
                    <div class="card_image"> <img [src]="'assets/Java.png'" alt="..." /> 
                    </div>
                    <h2>Java</h2>
                </div>
                <div class="card">
                    <div class="card_image"> <img [src]="'assets/Spring.png'" alt="..." /> 
                    </div>
                    <h2>Spring</h2>
                </div>
                <div class="card">
                    <div class="card_image"> <img [src]="'assets/PHP.png'" alt="..." /> 
                    </div>
                    <h2>PHP</h2>
                </div>
                <div class="card">
                    <div class="card_image"> <img [src]="'assets/Symfony.png'" alt="..." /> 
                    </div>
                    <h2>Symfony</h2>
                </div>
                <div class="card">
                    <div class="card_image"> <img [src]="'assets/Cobol.png'" alt="..." /> 
                    </div>
                    <h2>Cobol</h2>
                </div>

                <div class="card">
                    <div class="card_image"> <img [src]="'assets/WordPress.png'" alt="..." /> 
                    </div>
                    <h2>WordPress</h2>
                </div>

            </div>
            <div class="langues">
                <h2> Langues </h2>
                <div class="langue">
                    <h3 class="nom-langue"> Anglais</h3>
                    <h4 class="niveau">B2</h4>
                </div>
                <div class="langue">
                    <h3 class="nom-langue">Langue des signes</h3>
                    <h4 class="niveau">A1</h4>
                </div>
            </div>
        </div>
    </div>
</div>