<app-sidebar class="sidebar"></app-sidebar>
<div class="main-screen">
    <h1>Technologies</h1>
    <a class="button" [routerLink]="['/dashboard']"> <fa-icon class="fa-xl" [icon]="faHome"></fa-icon>Revenir à l'accueil  </a>
    <div class="container">

        <div class="cards-list">
            <div class="card">
                <div class="card_image"> <img [src]="'assets/html.png'" alt="..." /> 
                </div>
            </div>
            <div class="card">
                <div class="card_image"> <img [src]="'assets/CSS.png'" alt="..." /> 
                </div>
            </div>
            <div class="card">
                <div class="card_image"> <img [src]="'assets/javascript.png'" alt="..." /> 
                </div>
            </div>
            <div class="card">
                <div class="card_image"> <img [src]="'assets/Angular.png'" alt="..." /> 
                </div>
            </div>
            <div class="card">
                <div class="card_image"> <img [src]="'assets/mySQL.png'" alt="..." /> 
                </div>
            </div>
            <div class="card">
                <div class="card_image"> <img [src]="'assets/Java.png'" alt="..." /> 
                </div>
            </div>
            <div class="card">
                <div class="card_image"> <img [src]="'assets/Spring.png'" alt="..." /> 
                </div>
            </div>
            <div class="card">
                <div class="card_image"> <img [src]="'assets/PHP.png'" alt="..." /> 
                </div>
            </div>
            <div class="card">
                <div class="card_image"> <img [src]="'assets/Symfony.png'" alt="..." /> 
                </div>
            </div>
            <div class="card">
                <div class="card_image"> <img [src]="'assets/Cobol.png'" alt="..." /> 
                </div>
            </div>

            <div class="card">
                <div class="card_image"> <img [src]="'assets/WordPress.png'" alt="..." /> 
                </div>
            </div>

        </div>
        <div class="langues">
            <h2> Langues </h2>
            <div class="langue">
                <h3 class="nom-langue"> Anglais</h3>
                <h4 class="niveau">B2</h4>
            </div>
            <div class="langue">
                <h3 class="nom-langue">Langue des signes</h3>
                <h4 class="niveau">A1</h4>
            </div>
        </div>
    </div>

</div>