<app-sidebar class="sidebar"></app-sidebar>
<div class="main-screen">
    <h1>Formations</h1>
    <a class="button" [routerLink]="['/dashboard']"> <fa-icon class="fa-xl" [icon]="faHome"></fa-icon>Revenir à l'accueil  </a>

    <div class="courses-container">
        <div class="course">
            <div class="course-preview">
                <h2>Bac +2 Développeur Web et Web mobile</h2>
            </div>
            <div class="course-info">
                <h4>Novembre 2019 - Juillet 2020</h4>
                <h2>Human Booster</h2>
                <p class="description">
                    Développement de sites Web et applications Mobile avec examen final certifiant, reconnu par l'État.
                    Apprentissage de l'HTML, CSS, Javascript, SQL, Angular, PHP - Symfony, Wordpress, Méthodologie Scrum
                </p>
            </div>
        </div>
    </div>
    <div class="courses-container">
        <div class="course">
            <div class="course-preview">
                <h2>Spécialisation Java, Spring, Hibernate</h2>
            </div>
            <div class="course-info">
                <h4>Mars 2022 - Juin 2022</h4>
                <h2>Human Booster</h2>
                <p class="description">
                    Formation de spécialisation dans le langage Java, avec le framework Spring. Apprentissage des bonnes pratiques, de Maven, Hibernate, SpringBoot.
                </p>
            </div>
        </div>
    </div>
    <div class="courses-container">
        <div class="course">
            <div class="course-preview">
                <h2>Bac professionnel Logistique et Transport</h2>
            </div>
            <div class="course-info">
                <h4>2009 - 2011</h4>
                <h2>Lycée des métiers Pierre Boulanger</h2>
                <p class="description">
                    Ce bac enseigne les opérations de réception et de mise en stock, de préparation de commandes 
                    et d'expédition de marchandises. Il compte 16 semaines de stage.
                    Passage des C.A.C.E.S. 1, 3 et 5.
                </p>
            </div>
        </div>
    </div>
</div>