<div class="container">

<app-sidebar class="sidebar"></app-sidebar>


    <main class="main-screen">

        <div id="presentation-my-picture">
            <article id="presentation">
                <p id="bonjour">
                    Bonjour ! Mon nom est
                </p>
                <h1> Anthony Pfeifer</h1> 
                <h2> Développeur Web</h2>
                <p>    
                    Issu de la logistique, je me suis réorienté vers le Développement Web pour faire de
    cette passion mon métier. Je code tout autant sur le front-end que le back-end, grâce à mes connaissances en Angular, Spring et autres technologies.
    J'apprécie de travailler seul ou en collaboration avec une équipe autour de projets innovants.
            </p>
            <div class="links-social">
                <a href="#" ><fa-icon class="fa-xl" [icon]="faLinkedin"></fa-icon> LinkedIn </a>
                <a href="#"> <fa-icon class="fa-xl" [icon]="faGithub"></fa-icon> Github </a>
                <a href="#"> anthhony.pfeifer@gmail.com </a>
            </div>
            </article>
            <aside id="my-picture">
                <img [src]="'assets/Anthony_pfeifer.jpg'" alt="Anthony Pfeifer"/>
            </aside>
        </div>
        <div id="links-bio-cv">
            <article id="links-bio">
                <div class="card">
                    <h2 class="card-title">Expériences professionnelles </h2>
                    <p class="card-see-more">
                        <a class="card-link" href="#"> En savoir plus</a>
                    </p>
                </div>
                <div class="card">
                    <h2 class="card-title">Formations </h2>
                    <p class="card-see-more">
                        <a class="card-link" href="#"> En savoir plus</a>
                    </p>
                </div>
                <div class="card">
                    <h2 class="card-title">Technologies</h2>
                    <p class="card-see-more">
                        <a class="card-link" href="#"> En savoir plus</a>
                    </p>
                </div>
                <div class="card">
                    <h2 class="card-title">Autres informations</h2>
                    <p class="card-see-more">
                        <a class="card-link" href="#"> En savoir plus</a>
                    </p>
                </div>
        </article>
            <article id="download-cv-link">
                <div class="buttons">
                    <h3> Savoir être </h3>
                    <p>

                    </p>
                    <h3> Centres d'intérêt </h3>
                    <p>

                    </p>
                    <h3> Langues </h3>
                    <p>

                    </p>
                    <h3> Mes projets </h3>
                    <p>

                    </p>
                </div>
                <div>
                    <img [src]="'assets/CV.png'" alt="CV">
                </div>
        </article>
        </div>
    </main>
</div>
<app-footbar></app-footbar>