@import '/src/styles.scss';
@mixin margin-center {
  margin-left: auto;
  margin-right: auto;
}

.main-screen{
  background-color: $white-color;
  #links-bio-cv{
    background-color: $primary-color;
    .card{
      background: radial-gradient(#1fe4f5, #3fbafe);
    }
    .card-link{
    color : $tertiary-color;
    letter-spacing: 0.1em;
    }
    .card-link::after{
      background-color: $tertiary-color;
    }
    .card-title{
      text-shadow: 1px 1px 2px $black-color;
      color: $white-color;
    }
    .card-see-more{
      text-shadow: 0.5px 0.5px 1px $black-color;
    }
    .card:hover{
      box-shadow: 0 0.375em 0.625em rgba($black-color, 0.4);
    }
    .container{
        background-color: $primary-color;
      .card-button{
        box-shadow: 0 0.938em 3.75em rgba($black-color, 0.5);
        .face {
          &.face2 {
              h2 {
                color: $white-color;
                text-shadow: 0 2px 5px rgba($black-color, 0.2);
              }
          }
        }
        .face.face2 {
          background-color: $tertiary-color;
          border-radius: 0.938em;
        } 
      }
        .title-card-button {
          background-color: $black-color;
        }
        .title-card-button:hover{
          color:rgba(0, 0, 0, 0.25);
        }
    }
  }
  .centered{
    background: rgba($black-color, 0.5);
    a{
      color: $white-color;
    }
  }
}

.darkTheme {
  $primary-color :  rgb(30,30,30);
  $secondary-color: rgb(37,37,38);
  $tertiary-color :  rgb(60,60,60);
  $white-color: #fff;
  $black-color: #000;
  a{
    color: $white-color;
  }
    input:checked + .slider {
      background-color: #66bb6a;
    }
    background-color: $secondary-color;
    color: $white-color;
  #links-bio-cv{
    background-color: $primary-color;
    margin-bottom: 40em;
    .card{
      background: radial-gradient(#1a828b, #0c4969);
    }
    .card-link{
    color: rgba($white-color, 0.9);
    }
    .card-link::after{
      background-color: rgba($white-color, 0.6);
    }
    .card-title{
      text-shadow: 1px 1px 2px $black-color;
      color: $white-color;
    }
    .card-see-more{
      text-shadow: 0.5px 0.5px 1px $black-color;
    }
    .card:hover{
      box-shadow: 0 0.375em 0.625em rgba($black-color, 0.4);
    }
    .container{
        background-color: $primary-color;

      .card-button{
        box-shadow: 0 0.938em 3.75em rgba($black-color, 0.5);
        .face {
          &.face1 {
            box-sizing: border-box;
            padding: 1.25em;
            background-color: grey;
            border-radius: 0.938em;
          }
          &.face2 {
              h2 {
                color: $white-color;
                text-shadow: 0 2px 5px rgba($black-color, 0.2);
              }
          }
        }
        .face.face2 {
          background-color: $tertiary-color;
          border-radius: 0.938em;
        } 
      }
        .title-card-button {
          background-color: $black-color;
        }
    }
  }
  .centered{
    background: rgba($black-color, 0.5);
    a{
      color: $white-color;
    }
  }  
}

.theme-switch-wrapper {
  position:sticky;
  right: 41vw;
  display: flex;
  align-items: center;
  width: 10em;
  h3{
    text-align: center;
    padding-right: 1em;
  }
  .theme-switch {
    display: inline-block;
    height: 2.125em;
    position: relative;
    width: 3.75em;
    .theme-switch input {
      display:none;
    }
    .slider {
      background-color: #ccc;
      bottom: 0;
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: .4s;
    }
    .slider:before {
      background-color: #fff;
      bottom: 4px;
      content: "";
      height: 26px;
      left: 4px;
      position: absolute;
      transition: .4s;
      width: 26px;
    }
    input:checked + .slider {
      background-color: #66bb6a;
    }
    input:checked + .slider:before {
      transform: translateX(26px);
    }
    .slider.round {
      border-radius: 34px;
    }
    .slider.round:before {
      border-radius: 50%;
    }
  }
}
#presentation-my-picture{
  #presentation {
    font-weight: bold;
    #bonjour {
      font-size: xx-large;
    }
    h1 {
        font-size: 2.74vw;
    }
    div {
      display: flex;
      flex-direction: column;
      a {
          text-decoration: none;
          font-size: 1.5vw;
          height: 2em;
      }
    }
  }
  #my-picture {            
    img{
      @include margin-center();
      display: block;
      object-fit: cover;
      max-width: 100%;
      height: auto;
    }
      width: 55%;
  }
}
#links-bio{
  .card {
    margin: 1.5em 1em 1.5em 1em;
    padding: 1.25em;
    width: 18.29vw;
    min-height: 12.3em;
    display: grid;
    grid-template-rows: 1.25em 3.125em 1fr 3.125;
    row-gap: 1em;
    border-radius: 0.625em;
    box-shadow: 0 6px 0.375em rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    .card-link {
        cursor: pointer;
        position: relative;
        text-decoration: none;
        font-weight: bolder;
        font-size: large;
    }
    .card-link::after {
        position: absolute;
        top: 1.563em;
        left: 0;
        content: "";
        width: 0%;
        height: 0.188em;
        transition: all 0.5s;
    }
    .card-link:hover::after {
    width: 100%;
    }  
    .card-title {
        grid-row: 2/4;
        text-align: center;
        font-weight: 400;
    }
    .card-see-more {
        grid-row: 4/5;
        align-self: center;
        text-align: end;
        font-weight: bold;
    }
    .card:hover {
      transform: scale(1.01);
    }
  }
}
.container{
  .card-button {
    position: relative;
    width: 17.15vw;
    min-width: 12.5em;
    height: 22.87vw;
    min-height: 24em;
    margin: 0 auto;
    background: #EEEEEE;
    border-radius: 0.938em;
    .face {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &.face1 {
        box-sizing: border-box;
        padding: 1.25em;
        h2 {
          margin: 0;
          padding: 0;
        }

        .title-card-button {
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      &.face2 {
        transition: 0.5s;
        h2 {
          margin: 0;
          padding: 0;
          font-size: 1.82vw;
          transition: 0.5s;
          z-index: 10;
        }
      }
    }
  }

  .card-button:hover .face.face2 {
    height: 3.75em;
    h2 {
      font-size: 1.82vw;
    }
  }
  .card-button .face.face2 {
    border-radius: 0.938em;
  }
}
#download-cv-link{

  .img-cv {
    position: relative;
    text-align: center;
    
      img{
          display: block;
          margin: auto;
          object-fit: cover;
          width: 50%;
          height: auto;
      }
      .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 1.563em;
        padding: 1em 2em;
        a {
          text-decoration: none;
        }
      }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .container{
    display: flex;
    flex-direction: column-reverse;
  }
  #presentation-my-picture{
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
    #presentation {
        width: 100%;
        padding-left: 1em;
        p {
          padding-right: 1em;
        }
        #bonjour{
          font-size: 4.5vw;
        }
        h1, h2{
          margin-bottom: 0;
          margin-right: 1em;
        }
        h1{
          font-size: 6vw;
        }
        div {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            margin-top: 1em;
            a{
              min-width: 15em;
              font-size: 3.5vw;
            }
        }
    }
    #my-picture{
      margin: auto 0;
    }
}
#links-bio-cv{
    display: flex;
    flex-direction: column;
    #links-bio{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        max-height: 40em;
        .card{
          min-width: 14em;
        }
        .container {
          width: 100%;
           //flex-direction: column;
/*          grid-template-columns: 1fr 1fr 1fr;
          grid-template-columns: 33% 33% 33%; */
          //grid-gap: 1em;
          margin-bottom: 2em;
          margin-left: 2.5em;
          padding: 2.5em 0;
          .card-button{
            margin: 5em auto;
            h2{
              font-size: 5vw;
            }
          }
        }
    }
    #download-cv-link{
        width: 100%;
        margin-top: 110em;
        padding-top: 25em;
        padding-bottom: 4em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
          min-width: 13em;
          min-height: 13em;
        }
    }
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #presentation-my-picture{
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
    #presentation {
        width: 100%;
        padding-left: 1em;
        p {
          margin-right: 4em;
        }
        #bonjour{
          font-size: 3.5vw;
        }
        h1, h2{
          margin-bottom: 0;
          margin-right: 1em;
          font-size: 4vw;
        }
        div {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            margin-top: 1em;
            a{
              min-width: 15em;
              font-size: 3.5vw;
            }
        }
    }
    #my-picture{
      margin: auto 0;
    }
}
#links-bio-cv{
    display: flex;
    flex-direction: column;
    #links-bio{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        max-height: 40em;
        .card{
          min-width: 14em;
        }
        .container {
          width: calc(100vw - 32vw);
/*           display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-columns: 33% 33% 33%; */
          //grid-gap: 1em;
          margin: 2em auto;
          padding: 2.5em 0;
          .card-button{
            margin: 5em auto;
            h2{
              font-size: 4vw;
            }
          }
        }
    }
    #download-cv-link{
        width: 100%;
        margin-top: 100em;
        padding-top: 25em;
        padding-bottom: 4em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
          min-width: 13em;
          min-height: 13em;
        }
    }
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #presentation-my-picture{
    display: flex;
    flex-direction: row;
    height: fit-content;
    #presentation {
        width: 45%;
        padding-left: 2em;
        p, h1, h2{
          margin-bottom: 0;
          margin-right: 1em;
        }
        h1{
          font-size: 4vw;
        }
        div {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            margin-top: 1em;
            a{
              min-width: 15em;
            }
        }
    }
    #my-picture{
      margin: auto 0;
    }
}
#links-bio-cv{
    display: flex;
    flex-direction: column;
    #links-bio{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        max-height: 40em;
        .card{
          min-width: 14em;
        }
        .container {
          width: calc(100vw - 15vw);
          display: grid;
          //grid-template-columns: 1fr 1fr 1fr;
          grid-template-columns: 33% 33% 33%;
          //grid-gap: 1em;
          margin: 0 auto;
          padding: 2.5em 0;
          .card-button{
            h2{
              font-size: 2.5vw;
            }
          }
        }
    }
    #download-cv-link{
        width: 100%;
        padding-top: 25em;
        padding-bottom: 4em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
          min-width: 13em;
          min-height: 13em;
        }
    }
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  #presentation-my-picture{
    display: flex;
    flex-direction: row;
    height: fit-content;
    #presentation {
        width: 45%;
        padding-left: 2em;
        div {
            display: flex;
            justify-content: space-between;
        }
    }
}
#links-bio-cv{
    display: flex;
    flex-direction: row;
    #links-bio{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 70%;
        max-height: 40em;
        .container {
          width: calc(100vw - 20vw);
          display: grid;
          //grid-template-columns: 1fr 1fr 1fr;
          grid-template-columns: 33% 33% 33%;
          //grid-gap: 1em;
          margin: 0 auto;
          padding: 2.5em 0;
          .card-button{
          }
        }
    }
    #download-cv-link{
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
          min-width: 13em;
          min-height: 13em;
        }
    }
  }
}

@media screen and (min-width: 1201px) {

    #presentation-my-picture{
        display: flex;
        flex-direction: row;
        height: fit-content;
        #presentation {
            width: 45%;
            padding-left: 2em;
            h2 {
              font-size: 1.5vw;
            }
            p {
              font-size: 1.3vw;
            }
            div {
                display: flex;
                justify-content: space-between;
            }
        }
    }
    #links-bio-cv{
        display: flex;
        flex-direction: row;
        #links-bio{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 60%;
            max-height: 40em;
            .container {
              width: calc(100vw - 15vw);
              display: grid;
              grid-template-columns: repeat(auto-fit, minmax(18.75em, 1fr));
              grid-gap: 2.188em;
              margin: 0 auto;
              padding: 2.5em 0;
            }
        }
        #download-cv-link{
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}
