@import '/src/styles.scss';
@mixin margin-center {
  margin-left: auto;
  margin-right: auto;
}

.main-screen {
    background-color: $white-color;
    #presentation-my-picture {
        height: fit-content;
        #my-picture {
            img{
                @include margin-center();
                display: block;
                object-fit: cover;
                max-width: 100%;
                height: auto;
            }
        }
    }
}

@media screen and (min-width: 200px) and (max-width: 375px) {

}
@media screen and (max-width: 576px) {

}
@media screen and (min-width: 576px) and (max-width: 767px) {

}
@media screen and (min-width: 768px) and (max-width: 992px) {

}
  @media screen and (min-width: 992px) {
    #presentation-my-picture{
        display: flex;
        flex-direction: row;
        height: 60vh;
        #presentation {
            width: 45%;
            font-weight: bold;
            padding-left: 2em;
            #bonjour {
                font-size: xx-large;
            }
            h1 {
                font-size: 3em;
            }
            div {
                display: flex;
                justify-content: space-between;
                a {
                    text-decoration: none;
                    font-size: larger;
                }
            }
        }
        #my-picture {
            width: 55%;
        }
    }
    #links-bio-cv{
        display: flex;
        flex-direction: row;
        background-color: $primary-color;
        #links-bio{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 55%;
            max-height: 40em;
            .card {
                cursor: pointer;
                margin: 1.5em 1em 1.5em 1em;
                padding: 1.25em;
                width: 20em;
                min-height: 12.3em;
                display: grid;
                grid-template-rows: 1.25em 3.125em 1fr 3.125;
                row-gap: 1em !important;
                border-radius: 0.625em;
                box-shadow: 0 6px 0.375em rgba(0, 0, 0, 0.25);
                transition: all 0.2s;
                background: radial-gradient(#1fe4f5, #3fbafe);

                .card-link {
                    position: relative;
                    text-decoration: none;
                    color: rgba($white-color, 0.9);
                }
                .card-link::after {
                    position: absolute;
                    top: 1.563em;
                    left: 0;
                    content: "";
                    width: 0%;
                    height: 0.188em;
                    background-color: rgba($white-color, 0.6);
                    transition: all 0.5s;
                }
                .card-link:hover::after {
                width: 100%;
                }  
                .card-title {
                    grid-row: 2/4;
                    text-align: center;
                    font-weight: 400;
                    text-shadow: 1px 1px 2px $black-color;
                    color: $white-color;
                }
                .card-see-more {
                    grid-row: 4/5;
                    align-self: center;
                    text-align: end;
                    text-shadow: 0.5px 0.5px 1px $black-color;
                    font-weight: bold;
                }
            }
            .card:hover {
                box-shadow: 0 0.375em 0.625em rgba($black-color, 0.4);
                transform: scale(1.01);
              }
              .container {
                background-color: $primary-color;
                width: calc(100vw - 15vw);
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(18.75em, 1fr));
                grid-gap: 2.188em;
                margin: 0 auto;
                padding: 2.5em 0;
            
                .card-button {
                  position: relative;
                  width: 18.75em;
                  height: 25em;
                  margin: 0 auto;
                  background: #EEEEEE;
                  border-radius: 0.938em;
                  box-shadow: 0 0.938em 3.75em rgba($black-color, 0.5);
            
                  .face {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
            
                    &.face1 {
                      box-sizing: border-box;
                      padding: 1.25em;
            
                      h2 {
                        margin: 0;
                        padding: 0;
                      }
            
                      .title-card-button {
                        background-color: $black-color;
                        -webkit-background-clip: text;
                        
                        -webkit-text-fill-color: transparent;
                      }
                    }
            
                    &.face2 {
                      transition: 0.5s;
            
                      h2 {
                        margin: 0;
                        padding: 0;
                        font-size: 2em;
                        color: #fff;
                        transition: 0.5s;
                        text-shadow: 0 2px 5px rgba($black-color, 0.2);
                        z-index: 10;
                      }
                    }
                  }
                }
            
                .card-button:hover .face.face2 {
                  height: 3.75em;
                  h2 {
                    font-size: 2em;
                  }
                }
                .card-button .face.face2 {
                  background-color: $tertiary-color;
                  border-radius: 0.938em;
                }
              }
        }
        #download-cv-link{
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            .img-cv {
              position: relative;
              text-align: center;
              
                img{
                    display: block;
                    margin: auto;
                    object-fit: cover;
                    width: 50%;
                    height: auto;
                }
                .centered {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  background: rgba($black-color, 0.5);
                  border-radius: 1.563em;
                  padding: 1em 2em;
                  a {
                    text-decoration: none;
                    color: $white-color;
                  }
                }
            }
        }
    }
}