<div class="container">

<app-sidebar class="sidebar"></app-sidebar>


    <main class="main-screen">

        <div id="presentation-my-picture">
            <article id="presentation">
                <p id="bonjour">
                    Bonjour ! Mon nom est
                </p>
                <h1> Anthony Pfeifer</h1> 
                <h2> Développeur Web</h2>
                <p>    
                    Issu de la logistique, je me suis réorienté vers le Développement Web pour faire de
    cette passion mon métier. Je code tout autant sur le front-end que le back-end, grâce à mes connaissances en Angular, Spring et autres technologies.
    J'apprécie de travailler seul ou en collaboration avec une équipe autour de projets innovants.
            </p>
            <div class="links-social">
                <a href="https://www.linkedin.com/in/anthony-pfeifer-9568b6168/" ><fa-icon class="fa-xl" [icon]="faLinkedin"></fa-icon> LinkedIn </a>
                <a href="https://github.com/AnthonyPFEIFER"> <fa-icon class="fa-xl" [icon]="faGithub"></fa-icon> Github </a>
                <a href="mailto:anthhony.pfeifer@gmail.com"> anthhony.pfeifer@gmail.com </a>
            </div>
            </article>
            <aside id="my-picture">
                    <img [src]="'assets/Anthony_pfeifer.jpg'" alt="Anthony Pfeifer"/>
            </aside>
        </div>
        <div id="links-bio-cv">
            <article id="links-bio">
                <div class="card">
                    <h2 class="card-title">Expériences professionnelles </h2>
                    <p class="card-see-more">
                        <a class="card-link" [routerLink]="['/experiences']"> En savoir plus</a>
                    </p>
                </div>
                <div class="card">
                    <h2 class="card-title">Formations </h2>
                    <p class="card-see-more">
                        <a class="card-link" [routerLink]="['/formations']"> En savoir plus</a>
                    </p>
                </div>
                <div class="card">
                    <h2 class="card-title">Technologies</h2>
                    <p class="card-see-more">
                        <a class="card-link" [routerLink]="['/technologies']"> En savoir plus</a>
                    </p>
                </div>
                <div class="card">
                    <h2 class="card-title">Autres informations</h2>
                    <p class="card-see-more">
                        <a class="card-link" [routerLink]="['/informations']"> En savoir plus</a>
                    </p>
                </div>
                <div>
                    <div class="container">

                        <div class="card-button">
                          <div class="face face1">
                            <div class="content">
                              <span class="stars"></span>
                              <h2 class="title-card-button">Savoir être</h2>
                                <ul class="title-card-button">
                                    <li>Persévérant</li>
                                    <li>Engagé</li>
                                    <li>Sociable</li>
                                    <li>Flexible</li>
                                </ul>
                            </div>
                          </div>
                          <div class="face face2">
                            <h2> Savoir être</h2>
                          </div>
                        </div>
                      
                        <div class="card-button">
                          <div class="face face1">
                            <div class="content">
                                <span class="stars"></span>
                                <h2 class="title-card-button">Centres d'intérêt</h2>
                                <ul class="title-card-button">
                                    <li>Jeux de rôle</li>
                                    <li>Cuisine</li>
                                    <li>Escalade</li>
                                    <li>Lecture</li>
                                </ul>
                            </div>
                          </div>
                          <div class="face face2">
                            <h2>Centres d'intérêt</h2>
                          </div>
                        </div>
                      
                        <div class="card-button">
                          <div class="face face1">
                            <div class="content">
                                <span class="stars"></span>
                                <h2 class="title-card-button">Projets</h2>
                                <ul class="title-card-button">
                                    <li>
                                        <a href="http://tour-of-kaamelot.byethost32.com/heroes" class="title-card-button">Tour of Heroes (Front + Back)</a>
                                        <p> En solo </p>
                                    </li>
                                    <li>
                                        <a href="https://events.mistral.fr/#/login">Mistral Event (Front)</a>
                                        <p> En équipe</p>
                                    </li>
                                </ul>

                            </div>
                          </div>
                          <div class="face face2">
                            <h2>Projets</h2>
                          </div>
                        </div>
                      </div>
                </div>
        </article>
            <article id="download-cv-link">
                <div class="img-cv">
                    <img [src]="'assets/CV.png'" alt="CV">
                    <div class="centered">
                        <a href="./assets/CV_ Anthony_Pfeifer.pdf" download="CVAnthonyPfeifer">
                            Télécharger mon CV    
                        </a>
                    </div>
                </div>
        </article>
        </div>
    </main>
</div>
<app-footbar></app-footbar>