<app-sidebar class="sidebar"></app-sidebar>

<div class="main-screen">
    <h1>Expériences professionnelles</h1>
    <a [routerLink]="['/dashboard']"> Revenir à l'accueil</a>
    <!-- <div class="container">
        <div class="experience">
            <h2 class="dates"> Août 2020 - Février 2022</h2>
            <h3 class="entreprise"> Mistral Informatique</h3>
            <h3 class="metier"> Développeur Web</h3>
            <p class="description">
                Conversion d'un ERP, création de la charte graphique, supervision, ajout de programmes et modules.
                Création d’une application en Java et Angular sur la gestion d’évènements.
            </p>
        </div>
        <div class="experience">
            <h2 class="dates"> Mars 2019 - Mai 2019</h2>
            <h3 class="entreprise"> LMGE</h3>
            <h3 class="metier"> Préparateur de commandes</h3>
            <p class="description">
                Préparation des commandes avec assistance audio.
            </p>
        </div>
        <div class="experience">
            <h2 class="dates"> Novembre 2018 - Mars 2019</h2>
            <h3 class="entreprise"> La Poste </h3>
            <h3 class="metier"> Chef de quai</h3>
            <p class="description">
                Accueil des chauffeurs, gestion du quai, management des réceptionnaires, polyvalence.
            </p>
        </div>
        <div class="experience">
            <h2 class="dates"> Février 2012 - Novembre 2018</h2>
            <h3 class="entreprise"> TVE Logistique</h3>
            <h3 class="metier"> Assistant exploitation des transports</h3>
            <p class="description">
                Saisie des commandes, accueil des chauffeurs, planification informatique des tournées, traitement informatique des fiches de gazole.
            </p>
        </div>
    </div> -->
    <div class="timelineArrow">
        <i class="arrow up"></i>
    </div>
    <div class="timeline">
        
        <div class="container left">
          <div class="date">Août 2020 - Février 2022</div>
          <i class="icon fa fa-home"></i>
          <div class="content">
            <h2>Mistral Informatique, Développeur Web</h2>
            <p>
                Conversion d'un ERP, création de la charte graphique, supervision, ajout de programmes et modules.
                Création d’une application en Java et Angular sur la gestion d’évènements.
            </p>
          </div>
        </div>
        <div class="container right">
          <div class="date">Mars 2019 - Mai 2019</div>
          <i class="icon fa fa-gift"></i>
          <div class="content">
            <h2>LMGE, Préparateur de commandes</h2>
            <p>
                Préparation des commandes avec assistance audio.
            </p>
          </div>
        </div>
        <div class="container left">
          <div class="date">Novembre 2018 - Mars 2019</div>
          <i class="icon fa fa-user"></i>
          <div class="content">
            <h2>La Poste, Chef de quai</h2>
            <p>
                Accueil des chauffeurs, gestion du quai, management des réceptionnaires, polyvalence.
            </p>
          </div>
        </div>
        <div class="container right">
          <div class="date">Février 2012 - Novembre 2018</div>
          <i class="icon fa fa-running"></i>
          <div class="content">
            <h2>TVE Logistique, Assistant exploitation des transports</h2>
            <p>
            Saisie des commandes, accueil des chauffeurs, planification informatique des tournées, traitement informatique des fiches de gazole.
            </p>
          </div>
        </div>
      </div>
</div>