/* You can add global styles to this file, and also import other style files */
$primary-color: #BACFD4;
$secondary-color: #D4DFE1;
$tertiary-color: #154194;
$white-color: #fff;
$black-color: #000;
$dark-primary-color: rgb(30,30,30);
$dark-secondary-color: rgb(37,37,38);
$dark-tertiary-color: rgb(60,60,60);

@mixin sizeSideMain($mlMain, $hSide, $wSide, $posSide) {
  .main-screen {
    margin-left: $mlMain;
  }
  .sidebar {
    height: $hSide;
    width: $wSide;
    position: $posSide;
    z-index: 2;
  }
}

body, html {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";  
}
.main-screen {
    overflow-y: scroll;
    scrollbar-width: thin;
    height: 100vh;
}


@media screen and (min-width: 320px) and (max-width: 480px) { // Mobile devices
    .main-screen {
      padding-top: 0.625em;
      padding-bottom: 3.75em;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) { // iPads, Tablets
  @include sizeSideMain(20vw, 100%, 20vw, absolute);
}
@media screen and (min-width: 769px) and (max-width: 1024px) { // Small screens, laptops
  @include sizeSideMain(15vw, 100%, 15vw, absolute);
}
@media screen and (min-width: 1025px) and (max-width: 1200px) { // Desktops, large screens
  @include sizeSideMain(20vw, 100%, 20vw, absolute);
}
  @media screen and (min-width: 1201px) { // Extra large screens, TV
    @include sizeSideMain(15vw, 100%, 15vw, absolute);
}
/*     .main-screen {
      margin-left: 15vw;
    }
    .sidebar {
      height: 100%;
      width: 15vw;
      position: absolute;
      z-index: 2;
    } */